.commentsHeader{
    background-color: rgba(236, 99, 0, 0.87);
    color: #FFF;
}

.commentsListContainer{
  height: 65vh;
  overflow-y: scroll;
}

.commentsInputContainer{
  position: relative;
  height: 25vh;
  width: 100%;
  padding-left: 5px;
}

.commentForm{
  height: 100%;
}

.commentInput{
  display: block;
  width: 90%;
  margin: 0.75rem;
}

.commentInput:focus{
  color: rgba(236, 99, 0, 0.87);
}

.commentButton{
  width: 90%;
  margin: 0.75rem;
  display:block;
}
