.container{
  background-color: #eee;
  overflow: hidden;
  float: left;
  position: relative;
  display: inline-block;
  margin: 10px;
  background-color: #FFF;
}


.image{
  margin: 3px;
}

.albumInfo{
  position:relative;
  display:block;
  height: 30px;
  margin: 5px;
}

.albumTitle{
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentInfo{
  position: absolute;
  right: 10px;
  bottom: 0px;
}

@media only screen and (max-width: 900px) {
.container{
    width: 100%;
  }

  .image{
    /* width: 100%;
    height: auto; */
  }
}

@media only screen and (min-width: 901px) {
  .image{
    max-width: 100%;
    width: auto;
    /* height: 400px;
    max-height: 400px; */
  }
}
