.modal{
  position: fixed;
  bottom: 50vh;
  right: 50%;
  width: 30rem;
  transform: translate(50%, 50%);
  position:absolute;
}

.formContainer{
  width: 100%;
  margin-top: 20px !important;
}

.formButton{

}

.formButtonContainer{

}
